<div id="latest-news">
{% for news in latestNews %}
    <div class="news">
        <div class="title">{{ news.title }}</div>
        <div class="date">{{ news.date|date("Y-m-d H:i:s") }}</div>
        <div class="introduction">{{ news.introduction }}</div>
    </div>
{% endfor %}
</div>